// Colors
// 1) Primary
$primarySoftBlue: #7D8DE3;
$primarySoftRed: #FA5757;
// 1) Neutral
$neutralGrayishBlue: #9194A1;
$neutralVeryDarkBlue: #252B46;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap');
$fontSize: 18px;
$fontWeight4: 400;
$fontWeight5: 500;

// Widths
$mobile: 375px;
$desktop: 1440px;